* {
  margin: 0;
  padding: 0;
}

.header-content {
  width: 100%;
  height: 75px;
  background-color: #3d3a37;
}

.name {
  margin: 15px 1px 10px 40px;
  display: inline-block;
  font-size: 36px;
  color: white;
}

nav a {
  font-size: 24px;
  text-decoration: none;
  color: white;
  margin-right: 30px;
}

nav img {
  filter: invert(100%);
  width: 35px;
}

nav {
  margin: 20px;
  /*background-color: #f88;*/
  float: right;
}

.main-content {
padding: 20px;
margin: auto;
max-width: 900px;
font-size: 20px;
background-color: #DDD;
}

.introduction {
  margin-bottom: 20px;
}


iframe {
  border: solid 2px #3d3a37;
  width: 100%;
}

.tnoc {
  margin-bottom: 20px;
  width: 100%;
}

.border {
  border-style: dotted;
}

.footer-content {
  float: right;
  width: 100%;
  height: 75px;
  background-color: #3d3a37;
}
svg {
  width: 35px;
  height: 35px;
}
